//******字体颜色变量******/
$color-major: #FF6200;
$color-primary: #F3514F;
// $color-primary: #1296db;
// $color-primary: #FEC324;
$color-primary-darken: darken($color-primary, 5%);
$color-muted: #A3A3A3;
$color-weak: #626E7A;
$color-normal: #262626;
$color-danger: #e33;
$color-warn: #f85;
//******字体大小变量******/
$text-xxl: 34rpx;
$text-xl: 32rpx;
$text-nm: 28rpx;
$text-lg: 30rpx;
$text-sm: 26rpx;
$text-xs: 24rpx;
$text-xxs: 22rpx;
$text-form: 17px;
//******边框样式******/
$color-border: #EDEDED;
$color-line: #EEEEEE;
$border: 1px solid $color-border;
$border-line: 1px solid $color-line;
$border-dot: 1px dotted #EFF0F2;
//******背景样式******/
$color-bg-body: #F5F5F5;
$color-bg-item: #FAFAFA;
