@import "variable";
/** 微信列表样式 **/
.weui-cells-show{
  margin-top: 0;
  text, view{
    font-size: $text-nm;
  }
  .weui-cell__ft{
    color: $color-normal;
  }
  .weui-cell::before,.weui-cells::after{
    border-top: $border;
  }
  &::before {
    border-top: $border;
  }
  &::after {
    border-bottom: $border;
  }
}
/** 微信表单样式 **/
.weui-cells-form{
  @extend .weui-cells-show;
  text, view{
    font-size: $text-form;
  }
}

/** 重新定义按钮 **/
button[type="primary"][plain]{
  color: $color-primary;
  border-color: $color-primary;
}
.btn-panel {
  background: #fff;
  border-top: 1rpx solid #e5e5e5;
  border-bottom: 1rpx solid #e5e5e5;
  margin-top: 10px;
  overflow: hidden;
  padding: 30rpx;
  width: 690rpx;
}
.btn-panel-bottom{
  position: fixed;
  bottom: 0;
}
.weui-loadmore__tips_in-dot, .weui-loadmore__tips_in-line{
  background-color: $color-bg-body;
}
