@import "variable";

//******weui fix******/
.form{
  .weui-vcode-btn {
    color:$color-primary;
  }
  .muted{
    color:$color-muted;
  }
}

%weui-cells-display{
  view{
    font-size: $text-nm;
  }
  .weui-cell__ft{
    color: $color-normal;
  }
}
.weui-cells-extend::after{
  border-bottom: $border;
}
.weui-cells-extend {
  @extend %weui-cells-display;
  border-top: none;
  .weui-cell::before,.weui-cells::after{
    border-top: $border;
  }
}

.weui-cells-merge-top{
  @extend .weui-cells-extend;
  border-bottom: $border;
  &::after, &::before {
    content: normal;
  }
}

.form {
  text,view{
    font-family: 宋体;
    font-size: $text-form;
  }
}

.weui-cells-form{
  @extend .weui-cells;
  @extend .form;
  @extend .weui-cells-merge-top;
  &{
    margin-top:0;
  }
  .weui-cell__ft{
    color: #999;
  }
  border-top: $border;
}


button[type="primary"][plain]{
  color: $color-primary;
  border-color: $color-primary;
}

.weui-loadmore__tips_in-dot{
  background-color: $color-bg-body;
}
.weui-loadmore__tips_in-line {
  background-color: $color-bg-body;
}
