@import "variable";
.zan-btn {
  color: #333;
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  line-height: 45px;
  height: 45px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.zan-btn::after {
  display: none;
}

.zan-btn--primary {
  color: $color-primary;
  background-color: #fff;
  border-color: $color-primary;
}

.zan-btn--warn {
  color: #fff;
  background-color: $color-warn;
  border-color: $color-warn;
}

.zan-btn--danger {
  color: $color-danger;
  background-color: #fff;
  border-color: $color-danger;
}

.zan-btn--fill {
  background-color: $color-primary;
  color:#FFF;
}
.zan-btn--plain.zan-btn--fill {
  background-color: $color-primary;
  color:#FFF;
}

.zan-btn--small {
  display: inline-block;
  height: 30px;
  line-height: 29px;
  font-size: 13px;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 0;
}
.zan-btn--mini {
  display: inline-block;
  line-height: 21px;
  height: 22px;
  font-size: 10px;
  margin-right: 5px;
  margin-left: 0px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.zan-btn--large {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  line-height: 50px;
  height: 50px;
}

.zan-btns {
  margin: 15px;
}

.zan-btn.zan-btn--disabled {
  /* 防止样式被 button[disabled] 的规则覆盖，所以使用了important */
  color: #999 ! important;
  background: #f8f8f8 ! important;
  border-color: #e5e5e5 ! important;
  cursor: not-allowed ! important;
  opacity: 1 ! important;
}

.zan-panel {
  background: #fff;
  border-top: 1rpx solid #e5e5e5;
  border-bottom: 1rpx solid #e5e5e5;
  margin-top: 10px;
  overflow: hidden;
}


/*有赞-徽章*/
.zan-badge {
  position: relative;
}
.zan-badge__count {
  position: absolute;
  top: -8px;
  right: 0px;
  height: 1.6em;
  min-width: 1.6em;
  line-height: 1.6;
  padding: 0 .4em;
  font-size: 10px;
  font-family: tahoma;
  border-radius: .8em;
  background: #FF4444;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transform: translateX(50%);
  transform-origin: -10% center;
  z-index: 10;
  box-shadow: 0 0 0 1px #fff;
  box-sizing: border-box;
}

/*有赞-标签*/
.zan-label {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  color: #333;
  border: 1rpx solid #999;
  padding: 0px 10px;
  border-radius: 2px;
  margin-right: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}
.zan-label--primary {
  color: #fff;
  background: #1296db;
  border: 1rpx solid #1296db;
}
.zan-label--disabled {
  color: #cacaca;
  background: #eee;
  border: 1rpx solid #e5e5e5;
}
.zan-label--small {
  font-size: 11px;
  height: 20px;
  line-height: 18px;
  padding: 0px 3px;
}
.zan-label--plain.zan-label--primary {
  color: #1296db;
  background: #fff;
}

/*有赞-字体*/

@font-face {
  font-family: 'zuiicon';
  src: url('https://b.yzcdn.cn/zui/font/zuiicon-b37948cf5d.eot');
  src: url('https://b.yzcdn.cn/zui/font/zuiicon-b37948cf5d.eot?#iefix') format('embedded-opentype'),
  url('https://b.yzcdn.cn/zui/font/zuiicon-b37948cf5d.woff2') format('woff2'),
  url('https://b.yzcdn.cn/zui/font/zuiicon-b37948cf5d.woff') format('woff'),
  url('https://b.yzcdn.cn/zui/font/zuiicon-b37948cf5d.ttf') format('truetype')
}

.zan-icon {
  display: inline-block;
}
.zan-icon::before {
  font-family: "zuiicon" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/* DO NOT EDIT! Generated by fount */


.zan-icon-album:before { content: '\e800'; } /* '' */
.zan-icon-arrow:before { content: '\e801'; } /* '' */
.zan-icon-camera:before { content: '\e802'; } /* '' */
.zan-icon-certificate:before { content: '\e803'; } /* '' */
.zan-icon-check:before { content: '\e804'; color:#8c8c8c} /* '' */
.zan-icon-checked:before { content: '\e805'; color: #1296db;} /* '' */
.zan-icon-close:before { content: '\e806'; } /* '' */
.zan-icon-gift:before { content: '\e807'; } /* '' */
.zan-icon-home:before { content: '\e808'; } /* '' */
.zan-icon-location:before { content: '\e809'; } /* '' */
.zan-icon-message:before { content: '\e80a'; } /* '' */
.zan-icon-send:before { content: '\e80b'; } /* '' */
.zan-icon-shopping-cart:before { content: '\e80c'; } /* '' */
.zan-icon-sign:before { content: '\e80d'; } /* '' */
.zan-icon-store:before { content: '\e80e'; } /* '' */
.zan-icon-topay:before { content: '\e80f'; } /* '' */
.zan-icon-tosend:before { content: '\e810'; } /* '' */
